.registros {
    //background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: auto-fit;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    padding: 5px;
}

.card {
    //background-color: aqua;
    height: 500px;
    padding: 5px;
}